@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --cor1:#00BFFF;
    --cor2:#b173dd;
    --cor3:#963dd6;
    --cor4:#4c52f9;
    --cor5:#242aee;
    --cor6:#f1655b;
    --cor7:#f69162;
    --cor8:#f7f5f5;
    --cor9:white;
    --cor10:#696969;
    --cor11:#b4b4b4;
}

*{
    list-style:none;
    text-decoration:none;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

hmtl{
    font-size: 62.5%;
    font-family: 'Poppins';
}

h1{
    font-size:2.2rem;
    font-weight: 400;
}

h2{
    font-size:1.8rem;
    font-weight: 400;
}

h3{
    font-size:1rem;
    font-weight: 400;
}

h4{
    font-size:1.3rem;
    font-weight: 300;
}

.container .header{
    display: flex;
    align-items: center;
    height: 5rem;
    background: var(--cor9);
}

.container .header .notificacao{
    
    display: flex;
    width: 10rem;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    color: var(--cor11);
}

.container .header .prolifeEnot{
    width: 48rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

.container .header .titulo{
    color: var(--cor1);
    padding: 3rem;
}

.container .pesquisa{
font-size: 1.5rem;
color: var(--cor11);
margin: 5rem;
}

.container .pesquisa input{
    font-size: 1rem;
}

.container .profile { 
    display: flex;
    width: 13rem;
    gap: 1rem;
    align-items: center;
}

.container .profile .iconPerfil{
    color: var(--cor1);
}

.container .profile .perfil {
    position: relative;
}

.container .profile .perfil img {
    width: 3rem;
    height: 3rem;
}


.container .profile .perfil .status {
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(0, 182, 0);
    border-radius: 50%;
    position: absolute;
    top: 2.5rem;
    left: 0.8rem;
}

.content{
    display: flex;
}

.box1{
    background: var(--cor8);
}


nav{
    background: var(--cor9);
    width: 15rem;
    height: 35rem;
    
}

nav .menu li a {
    margin: 1px;
    padding: 1rem;
    display: flex;
    gap:0.6rem;
    align-items: center;
    justify-content: space-between;
    color:var(--cor10);
}


nav button {
    background: var(--cor1);
    border-radius:0.3rem;
    height: 40px;
    width: 200px;
    color: var(--cor9);
    justify-content:center;
    align-items:center;
}


.boxCartoes{
    gap:1rem;
    padding: 1rem;
    background: var(--cor8);
}

.box1 .boxCartoes{
    display: flex;
    width: 70rem;
    height: 15rem;
}

.box1 .boxTabela{
    background: var(--cor9);
    width: 70rem;
    height: 18rem;
    border-radius: 1.3rem;
}

/* inicio */

 .content .box1 .boxTabela {
    height: 20rem;
    display: flex;
    font-size: 1.2rem;
    gap: 2rem;

}

.content .boxTabela{
    width: 72rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
}


.content .boxTabela table {
    background: var(--bg-white);
    border-radius: var(--border-radius1);
    width: 100%;
    border-collapse: collapse;
    height: 100%;
}

.content .boxTabela tr th{
    padding: 1.7rem 1rem;
    border-bottom: 1.5px solid #ebe8e8;
}

.content .boxTabela tr td {
    padding: 1rem 1rem;
    border-bottom: 1.5px solid #ebe8e8;
}
.content .boxTables tr td{
    padding: 1rem 1rem;
    border-bottom: 1.5px solid #ebe8e8;
}

.content .boxTabela {
    padding: 3rem 0;
    color: var(--cor10);
}

.content .boxTabela table div {
    padding: .7rem 0;
    border-radius: 1.3rem;
    font-weight: 600;
    text-align: center;
    
}


/* fim */

.box1 .cabecalhoCartoes{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    background: var(--cor8);
    
}

.box1 .cabecalhoCartoes button{
    height: 50px;
    width: 50px;
    color:var(--cor9);
    background: var(--cor1);
    border-radius:0.5rem;
    font-size: 1.5rem;
    
}

.content .box1 .cartao1{
    background: linear-gradient(90deg, #b173dd, #963dd6);
    width:22rem;
    height:12;
    padding:2rem 2rem;
    border-radius: 1rem;
    color:var(--cor9);
    font-size:1.2rem;
}

.content .box1 .cartao1 .imagemPosition{
    position: relative;
}

.content .box1 .cartao1 .imagemPosition i{
    font-size:12rem;
    position: absolute;
    top:1rem;
    left:12rem;
    color:white, 0.2;
}
.imagemPosition{
    opacity: 0.2;
}

.content .box1 .cartao2{
    background: linear-gradient(90deg, #4c52f9, #242aee);
    width:22rem;
    height:12;
    padding:2rem 2rem;
    border-radius: 1rem;
    color:var(--cor9);
    font-size:1.2rem;
}

.content .box1 .cartao3{
    background: linear-gradient(90deg, #f69162, #f1655b);
    width:22rem;
    height:12;
    padding:2rem 2rem;
    border-radius: 1rem;
    color:var(--cor9);
    font-size:1.2rem;
}
