@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --cor1:#00BFFF;
    --cor2:#b173dd;
    --cor3:#963dd6;
    --cor4:#4c52f9;
    --cor5:#242aee;
    --cor6:#f1655b;
    --cor7:#f69162;
    --cor8:#eeeaea;
    --cor9:white;
    --cor10:#696969;
}

*{
    list-style:none;
    text-decoration:none;
    margin: 0;
    padding: 0;
    border: 0;
    
}

body{
    font-family: 'Poppins', sans-serif;
}

hmtl{
    font-size: 62.5%;
    font-family: 'Poppins';
}

h1{
    font-size:2.2rem;
    font-weight: 400;
}

h3{
    font-size:1rem;
    font-weight: 400;
}

h4{
    font-size:1.3rem;
    font-weight: 300;
}

.content{
    display: flex;
    
}

header {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.content .profile {
    display: flex;
    width: 22rem;
    gap: 2rem;
    align-items: center;

}

.content .profile .avatar {
    position: relative;
}

.content .profile .avatar img {
    width: 6.3rem;
    height: 6.3rem;
    border-radius: 50%;
}

.content .profile .avatar .status {
    width: 1rem;
    height: 1rem;
    background-color: rgb(0, 182, 0);
    border-radius: 50%;
    position: absolute;
    top: 5rem;
    left: 1rem;
}

.logo{
    display: flex;
    justify-content: center;
    padding-top: 3.5rem;
    color: var(--cor1);
    font-size: 2.2rem;
    font-weight: 900;
    
    top: 20px;
    left: 50px;
    letter-spacing: 1px;
}

nav{
    background: var(--cor9);
    width: 15rem;
    height: 35rem;
    
}

nav .menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

nav .menu li a {
    margin: 1px;
    padding: 1rem;
    display: flex;
    gap:0.6rem;
    align-items: center;
    color:var(--cor10);
}

.content .pesquisa {
    display: flex;
    width:45rem;
    background: rgb(217, 216, 216);
    height: 50%;
    border-radius: var(--border-radius1);
    /* justify-content: center; */
    padding-left: 2rem;
    align-items: center;
}

.content .pesquisa input {
    width: 90%;
    height: 3rem;
    background: transparent;
    font-size: 1.4rem;
    color:rgb(97, 97, 97)
}

.content .pesquisa i{
    font-size: 2rem;
}

nav .menu li:hover a {
    color: var(--cor1);
}

/* nav .menu li a i{ 
    justify-content: flex-end;
}*/

nav button {
    background: var(--cor1);
    border-radius:0.3rem;
    height: 40px;
    width: 200px;
    color: var(--cor9);
    justify-content:center;
    align-items:center;
}

.boxCartoes{
    gap:1rem;
    padding: 1rem;
    background: var(--cor8);
}

.box1 .boxCartoes{
    display: flex;
    width: 70rem;
    height: 15rem;
}

.box1 .boxTabela{
    background: #f1655b;
    width: 70rem;
    height: 18rem;
}

.content .box1 .cartao1{
    background: linear-gradient(90deg, #b173dd, #963dd6);
    width:22rem;
    height:12;
    padding:2rem 2rem;
    border-radius: 1rem;
    color:var(--cor9);
    font-size:1.2rem;
}

.content .box1 .cartao1 .imagemPosition{
    position: relative;
}

.content .box1 .cartao1 .imagemPosition i{
    font-size:12rem;
    position: absolute;
    top:1rem;
    left:12rem;
    color:white, 0.2;
}
.imagemPosition{
    opacity: 0.2;
}

.content .box1 .cartao2{
    background: linear-gradient(90deg, #4c52f9, #242aee);
    width:22rem;
    height:12;
    padding:2rem 2rem;
    border-radius: 1rem;
    color:var(--cor9);
    font-size:1.2rem;
}

.content .box1 .cartao3{
    background: linear-gradient(90deg, #f69162, #f1655b);
    width:22rem;
    height:12;
    padding:2rem 2rem;
    border-radius: 1rem;
    color:var(--cor9);
    font-size:1.2rem;
}
